<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class="banner">
    <div class="callbacks_container" id="game1">
      <div class="slider-info">
        <h4>Game 1</h4>
        <p>Vestibulum nec consequat nisl</p>
        <a href="/Game1/play" class="hvr-shutter-in-horizontal scroll">PLAY NOW</a>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- //banner -->
  <!--About section starts here-->
  <div class="about" id="about">
    <div class="container">
      <h3 class="w3l_head">About The Game</h3>
      <p class="w3ls_head_para">who we are</p>
      <br>
      <p>Vestibulum nec consequat nisl. Aliquam vehicula egestas commodo. Pellentesque lorem magna, pulvinar sed lacinia et, venenatis in mi. Nullam sodales rutrum nisl, gravida porttitor lectus porta et.Duis purus arcu, semper at magna faucibus, elementum maximus ligula. Etiam imperdiet posuere odio gravida vehicula. Nulla consectetur massaeget tincidunt suscipit. Integer vitae ex eros. Cras ornare dignissim scelerisque.</p>
    </div>
  </div>
  <!--About section ends here-->
  <!--How to play section starts here-->
  <div class="howtoplay" id="howtoplay">
    <div class="container">
      <h3 class="w3l_head">How To Play</h3>
      <p class="w3ls_head_para">who we are</p>
      <br>
      <p>Vestibulum nec consequat nisl. Aliquam vehicula egestas commodo. Pellentesque lorem magna, pulvinar sed lacinia et, venenatis in mi. Nullam sodales rutrum nisl, gravida porttitor lectus porta et.Duis purus arcu, semper at magna faucibus, elementum maximus ligula. Etiam imperdiet posuere odio gravida vehicula. Nulla consectetur massaeget tincidunt suscipit. Integer vitae ex eros. Cras ornare dignissim scelerisque.</p>
    </div>
  </div>
  <!--How to play section ends here-->
  <!--Gallery section starts here-->
  <div class="team-bottom" id="work">
    <div class="container">
      <h3 class="w3l_head w3l_head1">Gallery</h3>
      <p class="w3ls_head_para w3ls_head_para1">Add text here</p>
      <div class="w3layouts_gallery_grids">
        <ul class="w3l_gallery_grid" id="lightGallery">
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
          <li data-title="Games" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="img/ab.jpg" data-responsive-src="img/8.jpg">
            <div class="w3layouts_gallery_grid1 box">
              <img src="img/ab.jpg" alt=" " class="img-responsive" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Gallery section ends here-->
</div>
</body>

</html>
