@using EpicodusGames.Models;
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/gamestyles.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="css/lightGallery.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Game Two</h1>
      <br>
      <button><a href="/play2">Play</a></button>
    </div>
  </div>
  <div class="container">
    <h3 class="title">About the game</h3>
    <p class="subtitle">Fight for your life</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
    <br>
    <hr>
    <br>
    <h3 class="title">How to play</h3>
    <p class="subtitle">Master your sword</p>
    <br>
    <ul>
      <li><p>Use the <i class="left"></i> and <i class="right"></i> arrows to move left or right.</p></li>
      <li><p>Use the <i class="up"></i> arrow to jump.</p></li>
      <li><p>Use the space key to attack.</p></li>
    </ul>
    <br>
    <hr>
    <br>
    <h3 class="title">Gallery</h3>
    <p class="subtitle">In game screenshots</p>
    <br>
    <div class="grid-container">
      <div class="grid-item">
         <img src="../img/ss1.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss2.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss3.png" alt="game 2 image">
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
         <img src="../img/ss4.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss5.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss6.png" alt="game 2 image">
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
         <img src="../img/ss7.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss8.png" alt="game 2 image">
      </div>
      <div class="grid-item">
         <img src="../img/ss9.png" alt="game 2 image">
      </div>
    </div>
  </div>
</body>
</html>
