<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/contactstyles.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <form>
        <h4 style="text-align: center">Have a question, comment or feedback? Get in touch! We look forward to hearing from you.</h4>
        <br>
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control" placeholder="Email Address">
          </div>
          <div class="col-lg-12">
            <textarea rows="10" type="text" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="col-lg-12">
            <button class="square-button">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <div class="grid-container">
      <div class="grid-item">
        <h4 style="text-align: left">Epicodus Games</h4>
        <p>400 SW 6th Ave #800, Portland, OR 97204</p>
        <p>info@epicodusgames.com</p>
        <br>
      </div>
      <div class="grid-item">
        <ul class="nav" style="text-align: center">
          <button><a href="/games">Our Games</a></button>
          <button><a href="/about">About Us</a></button>
          <button><a href="/contact">Contact Us</a></button>
        </ul>
      </div>
      <div class="grid-item">
        <h4 style="text-align: right " class="connect">Connect with us:</h4>
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
