<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="css/lightGallery.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <link href="~/css/gameindexstyles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Our Games</h1>
    </div>
  </div>
  <h3>Click on a game below to find out more and try it out!<h3>
  <div class="grid-container">
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g1.jpg" alt="game 1 image">
        <div class="centered">
          <h1>Game 1</h1>
          <br>
          <button><a href="/game1">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g2.jpg" alt="game 2 image">
        <div class="centered">
          <h1>Game 2</h1>
          <br>
          <button><a href="/game2">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g3.jpg" alt="game 3 image">
        <div class="centered">
          <h1>Game 3</h1>
          <br>
          <button><a href="/game3">More info</a></button>
        </div>
      </div>
    </div>
  </div>
  @* This is the footer *@
  <footer class="gameindexfooter">
    <div class="grid-container">
      <div class="grid-item">
        <h4 style="text-align: left">Epicodus Games</h4>
        <p>400 SW 6th Ave #800, Portland, OR 97204</p>
        <p>info@epicodusgames.com</p>
        <br>
      </div>
      <div class="grid-item">
        <ul class="nav" style="text-align: center">
          <button><a href="/games">Our Games</a></button>
          <button><a href="/about">About Us</a></button>
          <button><a href="/contact">Contact Us</a></button>
        </ul>
      </div>
      <div class="grid-item">
        <h4 style="text-align: right " class="connect">Connect with us:</h4>
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  @* This is the end of the footer *@
</body>
</html>
