<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/gameindexstyles.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="css/lightGallery.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Our Games</h1>
    </div>
  </div>
  <h3>Click on a game below to find out more and try it out!<h3>
  <div class="grid-container">
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g1.jpg" alt="game 1 image">
        <div class="centered">
          <h1>Game 1</h1>
          <br>
          <button><a href="/game1">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g2.jpg" alt="game 2 image">
        <div class="centered">
          <h1>Game 2</h1>
          <br>
          <button><a href="/game2">More info</a></button>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="imagetext">
        <img src="../img/g3.jpg" alt="game 3 image">
        <div class="centered">
          <h1>Game 3</h1>
          <br>
          <button><a href="/game3">More info</a></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
