<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/homeindexstyles.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Epicodus Games</h1>
      <p>Portland, OR</p>
      <br>
      <br>
      <br>
      <ul class="nav">
        <button><a href="/sign-in">Sign In</a></button>
        <button><a href="/sign-up">Sign Up</a></button>
        <button><a href="/contact">Contact Us</a></button>
      </ul>
    </div>
  </div>
</body>
</html>
