<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Game Site</title
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Home Page</h1>
      <a href="/sign-in" class="btn btn-dark">Sign In</a>
      <a href="/sign-up" class="btn btn-dark">Create Account</a>
    </div>
    <h1>Welcome:</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="~/img/image.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark"><a href="/Game1">PLAY</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="~/img/image.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark">PLAY</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="~/img/image.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Game 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark">PLAY</button>
        </div>
      </div>
    </div>
    <hr>
    @* <a href="/stylists" class="btn btn-dark">View stylists</a>
    <a href="/specialties" class="btn btn-dark">View specialties</a>
    <a href="/clients" class="btn btn-dark">View clients</a> *@
  </div>
</body>
</html>
